.loader_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loader_container ul{
    list-style: none;
}

.loader_container ul h1{
    margin: 1rem;
}

.loader_container img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}