.home_container {
    align-items: center;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 1em;
    margin: 2em;
}

.home_container h1 {
    grid-area: 1/4/2/10;
    font-size: 1.75em;
}

.home_container h1 span {
    padding: 0.15em;
    font-weight: bold;
    color: #dad7cd;
    background-color: #606c38;
}

.home_container p {
    grid-area: 2/4/3/10;
    font-size: 1em;
    font-weight: bold;
}

.home_container p span {
    font-weight: bold;
    color:#606c38;
}

.btn {
    grid-area: 3/6/4/8;
    color: #283618;
    text-decoration: none;
    font-weight: bold;
    background-color: #606c38;
    padding: 0.7em 1.2em;
}

.btn:hover {
    color: #dad7cd;
    background-color: #283618;
}

.home_container img {
    grid-area: 4/5/8/9;
    width: 100%;
}